@import "../../scss/variables.scss";

.wrapper {
  background-color: $blue700;
  box-shadow: $wrapper-shadow;
  max-width: 80vw;
  min-height: 80vh;
  margin: 100px auto;
  padding: 60px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__panel {
    background-color: $gray200;
    box-shadow: $neumorph-wrapper-shadow;
    padding: 15px;
    border-radius: 5px;
    min-height: 400px;
    max-width: 1000px;
    min-width: 380px;
  }
}
