$black900: #000000;
$black800: #171822;
$black600: #272b30;
$black500: #2e303c;

$gray900: #808080;
$gray600: #bdbdbd;
$gray500: #c9cbce;
$gray400: #d9d9d9;
$gray300: #ebebeb;
$gray200: #f2f2f2;
$gray100: #f6f6f6;
$grayBlueDark: #3e495c;
$grayBlueLight: #858d9c;

$blue900: #0d60dc;
$blue800: #235ee8;
$blue700: #4a93ff;
$blue600: #6ea7fd;
$blue400: #c1d4f1;
$blue200: #d3dffa;
$blue100: #dceaff;

$red: #e53935;
$purple: #9748fe;
$green: #12db19;
$orange: #ffecb3;
$lightBlue: #bbdefb;
$pink: #f2d0d3;
$purple: #dad0ed;
$brown: #d7ccc8;
$yellow: #fff6aa;
$white: #ffffff;

$wrapper-shadow: -120px 1px 110px -80px rgba(47, 71, 196, 0.75) inset,
  119px 1px 110px -80px rgba(47, 71, 196, 0.75) inset;
$neumorph-wrapper-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
$neumorph-button-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
  -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
$neumorph-buttonHovered-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

//mixin for text
@mixin text-bold($size: 14px, $height: 1.21, $weigth: 600) {
  font-size: $size;
  line-height: $height;
  font-weight: $weigth;
}

@mixin text-regular($size: 14px, $height: 1.21, $weigth: 200) {
  font-size: $size;
  line-height: $height;
  font-weight: $weigth;
}

$btnLightTransition: 0.1s ease-in-out all;
